name: Check Setup Node Cache Performance Test - Windows latest

on:
  workflow_dispatch:
  # push:
  #   branches: [main]

jobs:
  cache-performance-test:
    strategy:
      matrix:
        os: [windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          cache: 'yarn'
      - run: yarn install --frozen-lockfile # optional, --immutable
      - run: yarn test

     


    